<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoenaSoft.DVDProfiler.CompareProfilerXMLAndCastCrewEdit2Cache.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoenaSoft.DVDProfiler.CompareProfilerXMLAndCastCrewEdit2Cache.Properties.Settings>
            <setting name="CacheFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDProfilerXMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheFileIsCast" serializeAs="String">
                <value>True</value>
            </setting>
        </DoenaSoft.DVDProfiler.CompareProfilerXMLAndCastCrewEdit2Cache.Properties.Settings>
    </userSettings>
</configuration>